.remote {
	 display: grid;
	 column-gap: 5px;
	 row-gap: 5px;
	 width: 98vw;
	 height: 98vh;
	 padding: 1vh 1vw;
	 margin: 0;
	 overflow: hidden;
}
 .remote #menu {
	 grid-area: menu;
}
 .remote #playPause {
	 grid-area: playPause;
}
 .remote #skipPrev {
	 grid-area: skipPrev;
}
 .remote #skipNext {
	 grid-area: skipNext;
}
 .remote #volumeUp {
	 grid-area: volumeUp;
}
 .remote #volumeDown {
	 grid-area: volumeDown;
}
 .remote #volumeMute {
	 grid-area: volumeMute;
}
 .remote #volumeBar {
	 grid-area: volumeBar;
	 align-self: end;
	 background: white;
	 width: 0%;
	 height: 0%;
	 transition: width 100ms, height 100ms;
}
 .remote .muted {
	 background-color: red !important;
}
 @media (max-aspect-ratio: 1/1) {
	 .remote {
		 grid-template-columns: calc(33.3333333333% - 16.6666666667px) calc(33.3333333333% - 16.6666666667px) calc(33.3333333333% - 16.6666666667px) 50px;
		 grid-template-rows: 50px calc(50% - 25px) calc(50% - 25px);
		 grid-template-areas: "skipPrev playPause skipNext menu" "skipPrev playPause skipNext volumeBar" "volumeUp volumeDown volumeMute volumeBar";
	}
	 .remote #volumeBar {
		 width: 50px !important;
	}
}
 @media (min-aspect-ratio: 1/1) {
	 .remote {
		 grid-template-columns: 50px calc(50% - 25px) calc(50% - 25px);
		 grid-template-rows: 50px calc(33.3333333333% - 16.6666666667px) calc(33.3333333333% - 16.6666666667px) calc(33.3333333333% - 16.6666666667px);
		 grid-template-areas: "menu volumeBar volumeBar" "skipPrev skipPrev volumeUp" "skipNext skipNext volumeDown" "playPause playPause volumeMute";
	}
	 .remote #volumeBar {
		 height: 50px !important;
	}
}
 