.remote
{
	display: grid;

	$homeButtonWidth: 50px;

	grid-template-columns: $homeButtonWidth calc(#{50%} - #{$homeButtonWidth}) 50%;

	$buttonHeights: 15%;
	grid-template-rows: $homeButtonWidth calc(#{100%-$buttonHeights} - #{$homeButtonWidth}) $buttonHeights;
	grid-template-areas:
		"menu sensitivity sensitivity"
		"touchpad touchpad touchpad"
		"leftClick leftClick rightClick";

	#menu
	{
		grid-area: menu;
	}

	#sensitivity
	{
		grid-area: sensitivity;

		width: 100%;
		height: 100%;

		div
		{
			display: inline;
			width: 85%;
			border: none;

			input
			{
				width: 100%;
				background: none;
				border: none;
				color: white;
				text-align: right;
			}
		}
	}

	#touchpad
	{
		grid-area: touchpad;
	}

	#leftClick
	{
		grid-area: leftClick;
	}

	#rightClick
	{
		grid-area: rightClick;
	}
}