body
{
	width: 98vw;
	height: 98vh;

	padding: 2vh 2vw;

	display: grid;

	$homeButtonWidth: 50px;

	grid-template-columns: $homeButtonWidth auto $homeButtonWidth;
	grid-template-rows: $homeButtonWidth auto;
	grid-template-areas:
		"menu . ."
		". keyboardInput .";

	#menu
	{
		grid-area: menu;
		background: none;
		outline: none;
		box-shadow: none;
		border: 2px white solid;
		border-radius: 100%;
		padding: 5px;

		img
		{
			width: 100%;
			height: 100%;
		}
	}

	#keyboardInput
	{
		grid-area: keyboardInput;
		width: 75%;
		height: $homeButtonWidth;
		justify-self: center;
    	align-self: center;
	}
}